<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head lang="en">

    <title>Appium Android Testing WebApp</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>

<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
    <div class="jumbotron">
        <div class="row text-center">
            <div class="">
                <h2>Testing Android With Appium</h2>
                <h3>Calculator</h3>
            </div>
        </div>
        <div class="row text-center">
            <img src="../../static/images/girl.png" width="500"
                 th:src="@{/images/girl.png}"/>
        </div>
    </div>
</div>

</body>
</html>